__pycache__/
GCalNotifier.orig/
ofir_anjuna_io/
ofiraz_gmail_com/
old/
gCalNotifier.log
system_tray_test.py
bin/
lib/
pyvenv.cfg
ofir_anjuna_io_token.json
ofir_anjuna_io_token.json.old
ofir@anjuna.io_token.json
ofiraz_gmail_com_token.json
ofiraz_gmail_com_token.json.old
ofiraz@gmail.com_token.json
ofir_anjuna_io.old/credentials.json
ofir_anjuna_io.old/token.json
ofiraz_gmail_com.old/credentials.json
ofiraz_gmail_com.old/token.json
app_credentials.json.orig
app_credentials.json
.qt_for_python/uic/gCalNotifier.py
ui/gCalNotifier.ui.autosave
family16965932704949589060@group.calendar.google.com_token.json
.vscode/settings.json
EventsLog.log
